@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'nasa';
        src: url('./assets/fonts/Nasalization.otf');
    };
};

@layer components {
    .horizontal-rule {
        border-top: 4px solid black;
    }
}
