@import "tailwindcss";

@font-face {
  font-family: Nasa;
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url("./assets/fonts/Nasalization.otf");
}

@theme {
  --font-nasa: "Nasa";
}

@layer components {
  .horizontal-rule {
    border-top: 4px solid black;
  }
}
